@font-face{
    font-family: 'betty-molly';
    src: url('./fonts/betty_molly/Betty Molly - Personal Use.otf');
} 
html{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('./assets/background.jpeg');
    background-size: cover;
}
/* Alterações
    - Largura (width:450px; - width: 550px;)
*/
.main-section{
    width: 700px;
    margin: 200px auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgba(1, 1, 1, 0.07);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
/* Alterações
    - Inclusão de sobra no texto
*/
h1{
    font-size: 50px;
    color: #e9b833;
    text-shadow: 2px 2px 15px #000000;
    font-family: 'betty-molly';
}
/* Alterações
    - Removi a altura da linha (height: 100px;)
    para remover o espaço grande que tinha entre uma linha e outra
    - Coloquei flexível para ficar todos em uma linha (de display até justify)
*/
.to-do{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
/* Alterações
    - Defini uma largura para a linha do texto (width: 240px;)
    - Defini o texto alinhado para esquerda
    - Coloquei ele para esconder o texto, se o texto for maior que a linha (de text-overflow até white-space)
*/
.title{
    width: 240px;
    font-size: 20px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.checked{
    margin: 20px;
}
button{
    display: inline-block;
    padding: 08px 08px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fffffe;
    background-color: #ff8906;
    border: none;
    border-radius: 10px;
}
      
    